<h1>EDIT YOUR CAR</h1>
<form action="/cars/{{_id}}/edit-car" method="post">

{{!-- <div>
    <label class="editLabel" for="name">Name</label>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="editInput" type="text" name="name" id="name" value="{{name}}">
</div>
<br> --}}
<div>
    <label class="editLabel" for="imageUrl">Update Car Image</label>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="editInput" type="text" name="imageUrl" id="imageUrl" value="{{imageUrl}}">
</div>

<br>
<div>
    <label class="editLabel" for="imageUr1">Update Car Image</label>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="editInput" type="text" name="imageUrl1" id="imageUrl1" value="{{imageUrl}}">
</div>

<br>
<div>
    <label class="editLabel" for="imageUrl2">Update Car Image</label>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="editInput" type="text" name="imageUrl2" id="imageUrl2" value="{{imageUrl}}">
</div>

<br>
<div>
    <label class="editLabel"  for="details">Update Car Details</label>
    &nbsp;&nbsp;&nbsp;&nbsp;<input class="editInput1" type="text" name="details" id="details" value="{{details}}">
</div>

<br>
    <button class="editBtn" type="submit">Edit Car</button>

</form>