<div class="carSafetyContainer">
    <p class="title"> Safety Results</p>
    <p class="safetyContent">The Insurance Institute for Highway Safety crash-tests cars and determines safety ratings based on four factors: Measurements from dummies, survival space, airbags, and seat belt effectiveness.</p>
   

<br>
{{!-- <h1 class="carSafetyResults"></h1> --}}
<img class="carImage" src="{{VehiclePicture}}" alt="">
<br><br><br>
 <span class="ratingText">LOWEST &nbsp;</span>
    <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="" class="star">
    <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="" class="star">
    <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="" class="star">
    <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="" class="star">
    <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="" class="star">
     <span class="ratingText">&nbsp HIGHEST</span>
     <br><br>
     <hr><br>
<div class="ratingsContainer">
    <div>
<label class="labelRatings">Overall Rating</label>
<h1 class="carSafetyResults">{{OverallRating}}  <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="" class="star"></h1>
<br>
<label class="labelRatings">Front Crash Rating</label>
<h1 class="carSafetyResults">{{OverallFrontCrashRating}}  <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="" class="star"></h1>
<br>
<label class="label">Side Crash Rating</label>
<h1 class="carSafetyResults">{{OverallSideCrashRating}}  <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="" class="star"></h1>
<br>
</div>

<div>
<label class="labelRatings">Rollover Rating</label>
<h1 class="carSafetyResults">{{RolloverRating}}  <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="" class="star"></h1>
<br>
<label class="labelRatings">Recalls Count</label>
<h1 class="carSafetyResults">{{RecallsCount}} </h1>
<br>
<label class="labelRatings">Front Crash Rating</label>
<h1 class="carSafetyResults">{{OverallFrontCrashRating}}  <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="" class="star"></h1>
</div>
</div>

</div>